<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServiceManagment.Properties.Settings.CarShopConnectionString"
            connectionString="Data Source=SERVER1;Initial Catalog=CarShop;User ID=fit;Password=fit"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>