<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ServiceManagment.Properties.Settings.CarShopConnectionString" connectionString="Data Source=SERVER1;Initial Catalog=CarShop;User ID=fit;Password=fit" providerName="System.Data.SqlClient" />
    <add name="CarShopEntities" connectionString="metadata=res://*/CarShopDB.csdl|res://*/CarShopDB.ssdl|res://*/CarShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=CarShop;user id=fit;password=fit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarShopEntities1" connectionString="metadata=res://*/CarShopDB.csdl|res://*/CarShopDB.ssdl|res://*/CarShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=CarShop;user id=fit;password=fit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarShopEntities2" connectionString="metadata=res://*/CarShopDB.csdl|res://*/CarShopDB.ssdl|res://*/CarShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=CarShop;user id=fit;password=fit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>