<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ServiceManagment.Properties.Settings.CarShopConnectionString" connectionString="Data Source=SERVER1;Initial Catalog=CarShop;User ID=fit;Password=fit" providerName="System.Data.SqlClient" />
    <add name="CarShopEntities" connectionString="metadata=res://*/CarShopDB.csdl|res://*/CarShopDB.ssdl|res://*/CarShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=CarShop;user id=fit;password=fit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarShopEntities1" connectionString="metadata=res://*/CarShopDB.csdl|res://*/CarShopDB.ssdl|res://*/CarShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=CarShop;user id=fit;password=fit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarShopDB" connectionString="metadata=res://*/EDMCarShop.csdl|res://*/EDMCarShop.ssdl|res://*/EDMCarShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=CarShop;user id=fit;password=fit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarShopEntities2" connectionString="metadata=res://*/CarShopDB.csdl|res://*/CarShopDB.ssdl|res://*/CarShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=CarShop;user id=fit;password=fit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <runtime>
  </runtime>

</configuration>